.notification {
    padding: 15px;
    margin: 10px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.success {
    background-color: green;
}

.info {
    background-color: lightskyblue;
}

.warning {
    background-color: #ff9800;
}

.error {
    background-color: red;
}